@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,
html {
  background-color: #fff1d1;
  color: saddlebrown;
  font-family: 'Roboto'

}

button,
select,
textarea,
input {
  font-family: 'Roboto';
  font-size: 16px;
}

header nav ul {
  list-style: none;
  height: 220px;
  display: grid;
  grid-template-columns: repeat(10, 4fr);
    justify-items: center;
  background-image: url(https://darienlibrarycafe.org/wp-content/uploads/2021/11/food-header-cafe-darien-library.jpg);
    background-size: 85%;
    opacity: 0.8;
    height: 150px;
    border-radius: 20px;
}

a {
  text-decoration: none;
  color: #FFF4E1;
    background-color: rgba(230, 122, 122, 80%);
    border-radius: 5px;
    padding: 1px 2px 1px 2px;
}

a:hover {
  color: #eb3f3f;
  font: 14px;
  font-weight: 500;
  transition: .5s ease-in-out;
  background-color: rgba(157, 220, 220, 65%);
  border-radius: 25px;
  padding: 2px;
}
button.button {
  background-color: #E67A7A;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: #9DDCDC;
    border-color: #E67A7A;
    color: #E67A7A;
}

button.button:active {
  background-color: lightblue;
}

input, textarea {
  border: 1.5px solid #E67A7A;
  border-radius: 4px;
  padding: 1em 1.5em;
  background-color: rgba(230, 122, 122, 15%)
}

table {
  margin: auto;
}

td, th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
}

.recipe-card-title {
  margin-bottom: 0;
}

.recipe-card-date {
  color: darkgray;
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: right;
}
